includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    tmpDir: var/phpstan

    parallel:
        maximumNumberOfProcesses: 4

    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true

    ignoreErrors:
